.form-outline {
  height: 2rem;
  width: 100%;
  background: var(--color-gradation);
}
.form-logo {
  background-image: url(../image/icon.svg);
  display: block;
  margin: 0 2rem;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
footer .form-logo {
  margin-left: auto;
}