.form-outline {
  height: 2rem;
  width: 100%;
  background: var(--color-gradation);
}
.form-logo {
  background-image: url(../image/icon.svg);
  display: block;
  margin: 0 2rem;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.inquiryTop {
  background-color: #FBE8E6;
}
.form-footer p {
  margin-left: -2rem;
  font-size: var(--font-mini);
  color: var(--color-brown);
}
.form-footer {
display: flex;
align-items: center;
width: calc(2rem + 6em + 60px);
}